<?xml version="1.0" encoding="UTF-8"?><launchConfiguration type="opl.launchType">
<stringAttribute key="opl.debugModel.ATTR_ELEMENT_ID" value="=deltas_\fittingRCon\figu\raciones de ejecuciónr\real_p\roblem"/>
<stringAttribute key="opl.debugModel.ATTR_PROJECT" value="deltas_fitting"/>
<stringAttribute key="opl.debugModel.ATTR_RUN_CONFIG" value="real_problem"/>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/deltas_fitting"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="4"/>
</listAttribute>
</launchConfiguration>